@charset "UTF-8";
/* CSS Document */

body{
    font-family: 29lt_bukrabold;
}

a {
    color: #005677;
    text-decoration: none;
}

a:hover 
{
     color:005677; 
     text-decoration:none; 
     cursor:pointer;  
}

@font-face {
    font-family: '29lt_bukrabold';
    src: url('https://rawgit.com/karladrianaguro/diwandes/master/29ltbukrabold-webfont.woff2?raw=true') format('woff2'),
         url('https://rawgit.com/karladrianaguro/diwandes/master/29ltbukrabold-webfont.woff?raw=true') format('woff');
    font-weight: normal;
    font-style: normal;

}


